{erl_opts, [fail_on_warning, debug_info, warn_untyped_record]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{dialyzer_specs, all}]}.
{validate_app_modules, true}.

{plugins, [pc]}.

{provider_hooks, [{post, [{compile, {pc, compile}},
                          {clean,   {pc, clean}}]}]}.
